.NavBar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: var(--navbar--background);
  opacity: var(--navbar--opacity);
}

.LeftItemGroup {
  display: flex;
  padding-top: 0.75rem;
  /* padding-left: -0.75rem; */
  align-items: center;
  cursor: pointer;
  gap: 0.75rem;
}

.RightItemGroup {
  display: flex;
  padding-top: 0.75rem;
  /* padding-right: -0.75rem; */
  align-items: center;
  gap: 0.75rem;
}

.Icon {
  width: 2.5rem;
  height: 2.5rem;
}

.Title {
  color: var(--color__font--primary);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
