.Container {
  display: flex;
  margin-top: 15rem;
  justify-content: center;
  align-items: center;
  height: auto;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.Cherry {
  width: 7rem;
  height: 7rem;
  animation: bounce 1s infinite;
}

.Lemon {
  width: 12rem;
  height: 12rem;
  animation: bounce 1s infinite;
}

.Blueberry {
  width: 7rem;
  height: 7rem;
  animation: bounce 1s infinite;
}
