@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* palette */
  --color--primary: hsl(0, 91%, 67%);
  --color--secondary: hsl(0, 5%, 85%);
  --color__font--primary: hsl(0, 50%, 10%);
  --color__font--secondary: hsl(0, 8%, 30%);
  --color--background: hsl(0, 50%, 99%);

  /* screen breakpoints -- min-width */
  --screen--sm: 640px;
  --screen--md: 768px;
  --screen--lg: 1024px;
  --screen--xl: 1280px;
  --screen--2xl: 1536px;

  /* breakpoint variables */
  --navbar--opacity: 90%;
  --navbar--background: var(--color--background);
  --homepage__container--margin-x: 2rem;
  --homepage__container--margin-top: 1rem;
  --mdx__title--margin-y: 1rem;
}

/* sm screen breakpoint */
@media (min-width: 640px) {
  :root {
  }
}

/* md screen breakpoint */
@media (min-width: 768px) {
  :root {
    --homepage__container--margin-x: 4rem;
    --homepage__container--margin-top: 2rem;
  }
}

/* lg screen breakpoint */
@media (min-width: 1024px) {
  :root {
    --navbar--opacity: 100%;
    --navbar--background: transparent;
    --homepage__container--margin-x: 16rem;
    --homepage__container--margin-top: 5rem;
    --mdx__title--margin-y: 2rem;
  }
}

/* xl screen breakpoint */
@media (min-width: 1280px) {
  :root {
  }
}

/* 2xl screen breakpoint */
@media (min-width: 1536px) {
  :root {
  }
}

/* dark theme palette */
/* @media (prefers-color-scheme: dark) {
  :root {
    --color--primary: hsl(0, 91%, 67%);
    --color--secondary: hsl(0, 13%, 13%);
    --color__font--primary: hsl(0, 50%, 90%);
    --color__font--secondary: hsl(0, 8%, 50%) ; 
    --color--background: hsl(0, 15%, 8%); 
  }
} */
